{# Extendemos la plantilla base #}
{% extends 'AppCorredoresRiojaBundle:Organizadores:zonaorganizadores.html.twig' %}

{# Bloque título #}
{% block title %} Login {% endblock %}

{# El bloque del contenido #}
{% block content %}
    <div class="container-fluid">
        {% if error %}
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="alert alert-danger alert-dismissable fade in top5">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <h3>Acceso de organizaciones registradas</h3>
            </div>
        </div>
        <div>
            <div class="col-xs-offset-3 col-xs-6">
                <form class="form-horizontal" action="{{ path('organizador_login_check') }}" method="post">
                    <div class="form-group">
                        <label for="username" class="col-xs-2 control-label">Usuario (email):</label>
                        <div class="input-group col-xs-10">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" id="username" name="_username" value="" class="form-control" placeholder="Usuario (email)">                                
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-xs-2 control-label">Contraseña:</label>
                        <div class="input-group col-xs-10">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-log-in"></i> Iniciar sesión</button>
                            <a role="button" class="btn btn-primary" href="{{ path('registro_organizador') }}">Registrarse</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}