{# Extendemos la plantilla base #}
{% extends 'AppCorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}

{# Bloque título #}
{% block title %} Perfil {% endblock %}

{# El bloque del contenido #}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                <h3>{{ 'menu.perfil' | trans }}</h3>
            </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <form action="{{ path('perfil') }}" method = "post" {{ form_enctype ( formulario ) }}>
                {{ form_widget ( formulario ) }}
            </form>
        </div>
    </div>
{% endblock %}